<div class="main-container">
    <div class="profile-content">
      <div class="profile-img" id='profileInfo'>
        
      </div>
      <button class="profileButton" id='profileButton'>
        <i></i>
        Edit
      </button>
    </div>
    <hr class="break"/>
    <div class="body-content">

      <div class="main-title">
        <p>500€</p>
      </div>
      <div class="mainProfile">
        <div class="cardProfile">
          <p>Project Reached</p>
          <p class="num">1212</p>
        </div>
        <div class="cardProfile">
          <p>Likes</p>
          <p class="num">422</p>
        </div>
      </div>
    </div>
     <h2 id='profileContentTitle'></h2>
    <section class="results-section results--grid" id="profileContentContainer">
        <!--<div class="profile">
            <div class="profile__image" id="Ichigo"><img src="view/images/Ichigo.png"></div>
            <div class="profile__info">
                <h4>Ichigo</h4>
            </div>
            <div class="profile__stats">
                <p class="profile__stats__title"></p>
                <h5 class="profile__stats__info"></h5>
            </div>
            <div class="profile__stats">
                <h4 class="profile__stats__info">1399€</h4>
            </div>
        </div>
        <div class="profile">
            <div class="profile__image" id="Ichigo"><img src="view/images/Ichigo.png"></div>
            <div class="profile__info">
                <h4>Ichigo</h4>
            </div>
            <div class="profile__stats">
                <p class="profile__stats__title"></p>
                <h5 class="profile__stats__info"></h5>
            </div>
            <div class="profile__stats">
                <h4 class="profile__stats__info">1399€</h4>
            </div>
        </div>
        <div class="profile">
            <div class="profile__image" id="Ichigo"><img src="view/images/Ichigo.png"></div>
            <div class="profile__info">
                <h4>Ichigo</h4>
            </div>
            <div class="profile__stats">
                <p class="profile__stats__title"></p>
                <h5 class="profile__stats__info"></h5>
            </div>
            <div class="profile__stats">
                <h4 class="profile__stats__info">1399€</h4>
            </div>
        </div>-->
    </section> 
    
</div>