<br/>
<data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
  <div owl-carousel-item="" ng-repeat="slide in slides" class="item">
    <img ng-src="{{slide.path}}">
  </div>
</data-owl-carousel>

<div class="latest-products">
  <div class="container">
    <div class="row" id="categories_container">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Categories</h2>
          <a class='category' id='All' href="#/shop">view all <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div ng-repeat = "category in categories" id = "{{category.name}}" class = "col-md-4 category category_banner">
        <div class = "inner">
            <img ng-src = "{{category.path}}">
            <br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>