<div class="page-heading about-heading header-text" style="background-image: url(view/images/Banner.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content" id="figure_title">
        </div>
      </div>
    </div>
  </div>
</div>

<input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked"/>
<label for="bluepurple"></label>

<main>
  <div class="filter-section__wrapper" id="loadedFilters">
  </div>

  <div>
    <section class="results-section results--grid" id="loadedProducts">
      
    </section>
  </div>
</main>

<div class="products" id="figure_container">
  <div class="container">
    <div id="productLoader" class="row">
    </div>
  </div>
</div>

<div id="loadedDetails"></div>

<div class="wrapper" id="most_visited">
  <ul class="anchorList">
    <li><a href="#">Most visited figures</a></li>
  </ul>
</div>